@charset "utf-8";
/* CSS Document */


@font-face {
  font-family: mot;
  src: url(../font/FjallaOne-Regular.ttf);
}

@font-face {
  font-family: hai;
  src: url(../font/Rubik-VariableFont_wght.ttf);
}




.lung{
	width: 100%;
	height: 3000px;
	background-color: antiquewhite;
}

.header{
	width: 100%;
	height: 950px;
	background-color: #FFFFFF;
}
.daude{
	width: 100%;
	height:50px;
	background-color: rgba(15,126,230,1.00);
	
}
.logo{
	width: 20%;
	height: 44px;
	background-color:rgba(15,126,230,1.00);
	float: left;
	color: rgba(255,255,255,1.00);
	margin-left: 50px;
	font-family: mot;
	padding-top: 6px;
}
.loichao{
	width: 50%;
	height: 38px;
	background-color: rgba(15,126,230,1.00);
	float:right;
	color: aliceblue;
	padding: 12px 0 0 3%;
	font-family: hai;
	font-size: 18px;
}
.avata{
	width: 85%;
	height: 550px;
	background-image: url(../images/br.png);
	background-size: cover;
	padding: 50px 5% 0 10%;
}
.textava{
	width: 30%;
	height: 410px;
	background-color: rgba(0,0,0,);
	float: left;
	color: rgba(15,126,230,1.00);
	padding-top: 90px;
}

.formava{
	width: 30%;
	height: 500px;
	background-color: #662728;
	float:right;	
}
.formchu{
	width: 100%;
	height: 100px;
	background-color: rgba(15,126,230,1.00);	
	color: rgba(255,255,255,1.00);
}
.formko{
	width: 100%;
	height: 300px;
	background-color: rgba(15,126,230,1.00);
	padding-top: 20px;
}
.forminput{
	width: 100%;
	height: 100px;
	background-color:rgba(15,126,230,1.00);
	font-family: mot;
}
.dichvu{
	width: 90%;
	height: 300px;
	background-color: #FDFDFD;
	padding-left: 10%;
}
.tim{
	width: 25%;
	height: 150px;
	background-color:rgba(255,255,255,1.00);
	float: left;
	margin-left: 4%;
}
.texttim{
	width: 25%;
	height: 60px;
	background-color: rgba(255,255,255,1.00);
	float: left;
	margin-left: 4%;
	color: rgba(15,126,230,1.00);
	font-family: mot;
}
.ndtim{
	width: 25%;
	height: 90px;
	background-color: rgba(255,255,255,1.00);
	float: left;
	margin-left: 4%;
	color: rgba(15,126,230,1.00);
}




.than{
	width: 100%;
	height: 1233px;
	background-color: rgba(255,255,255,1.00);
}
.tainag{
	width: 100%;
	height: 400px;
	background-color:rgba(15,126,230,1.00);
}
.tnchu{
	width: 45%;
	height: 350px;
	background-color: rgba(15,126,230,1.00);
	margin-left: 5%;
	float: left;
	color: rgba(255,255,255,1.00);
	margin-top: 25px;
}
.tnvideo{
	width: 43%;
	height: 350px;
	background-color:  rgba(15,126,230,1.00);
	margin-right: 5%;
	float: right;
	color: rgba(255,255,255,1.00);
	margin-top: 25px;
	padding-left: 2%
}



.bacsi{
	width: 100%;
	height: 415px;
	background-color: rgba(255,255,255,1.00);
}
.debai{
	width: 100%;
	height: 120px;
	background-color: rgba(255,255,255,1.00);
	color: rgba(15,126,230,1.00);
	padding-top: 30px;
}

.danhsach{
	width: 100%;
	height: 250px;
	background-color: #2F216C;
}

.cumchandung{
	width: 71%;
	height: 265px;
	background-color: rgba(255,255,255,1.00);
	padding-left: 1%;
	margin-left: 15%;
}
.chandung{
	width: 30%;
	height: 180px;
	background-color: rgba(255,255,255,1.00);
	float: left;
	margin-left: 2%;
}
.tenbs{
	width: 30%;
	height: 35px;
	background-color:rgba(15,126,230,1.00);
	float: left;
	margin-left: 2%;
	color: rgba(255,255,255,1.00);
	transition:  all 0.4s ease;
}

.tenbs:hover{
	background-color: rgba(83,0,144,1.00);
	color: aliceblue;
	transform: scale(1.2);
}
.ndbs{
	width: 30%;
	height: 50px;
	background-color: rgba(255,255,255,1.00);
	float: left;
	margin-left: 2%;
	color: rgba(15,126,230,1.00);
}





.benh{
	width: 100%;
	height: 400px;
	background-color: rgba(15,126,230,1.00);
}
 
.leg{
	width: 100%;
	height: 350px;
	background-color: #F9FF00;
}
.ket{
	width: 100%;
	height: 300px;
	background-color: rgba(255,255,255,1.00);
}
.ket img{
	opacity: 0.3;
}
.ghichu{
	width: 100%;
	height: 30px;
	background-color: rgba(15,126,230,1.00);
	color: rgba(255,255,255,1.00);
	padding-top: 20px;
}
button{
	width: 80%;
	height: 60px;
	border-radius: 20px;
	border:0;
	background-color: black;
	color: aliceblue;
	margin: 20px 0% 0 10%;
	transition: all 1s ease;
}
button:hover{
	background-color: #FFFFFF;
	color: #B50303; 
}
input{
	width: 92%;
	height: 30px;
	margin: 30px 0 0px 3% ; 
}
b{
	font-family: hai;
	font-size: 18px;
}
c{
	font-family: mot;
	font-size: 33px;
}
.chandung img
{
	transition: all .3s linear;
}

.chandung:hover img
{
	transform: translateY(-9px);
}
